<a href="https://colab.research.google.com/github/kishanRaj10/python-coding-challenges/blob/main/Python_Coding_Challenges.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##1. Large Power
For the first code challenge, we are going to create a method that tests whether the result of taking the power of one number to another number provides an answer which is greater than 5000. We will use a conditional statement to return True if the result is greater than 5000 or return False if it is not.

In [16]:
def large_power(base,exponent):
  if  base ** exponent > 5000:
    return True
  else:
    return False
large_power(1,3)

False

##2. Over Budget
Letâ€™s say we are trying to save some money and we are watching our budget. We need to make sure that the result of our spending is less than the total amount we have allocated for each of the categories. Our function will accept a parameter called budget which describes our spending limit. The next four parameters describe what we are spending our money on. We need to sum all of our spendings and compare it to the budget. If we have gone over budget, we will return True. Otherwise we return False.

In [17]:
def over_budget(budget,food_bill, electricity_bill, internet_bill,rent):
  if(budget<food_bill+ electricity_bill+ internet_bill+rent):
    return True
  else:
    return False

over_budget(100,20,20,30,63)

True

##3. Twice As Large
In this challenge, we will determine if one number is twice as large as another number. To do this, we will compare the first number with two times the second number.

In [15]:
def compare(num1,num2):
  if(num1>2*num2):
    return True
  else:
    return False

compare(2,5)

False

##4. Divisible By Ten
To make things a bit more challenging, we are going to create a function that determines whether or not a number is divisible by ten. A number is divisible by ten if the remainder of the number divided by 10 is 0.

In [10]:
def divisible_by_10(num):
  if(num%10==0):
    return True
  else:
    return False
divisible_by_10(45)

False

##5. Not Sum To Ten
Finally, we are going to check if the summation of two inputs does not equal ten. Our function will accept two inputs and add them together. If the two numbers added together are not equal to ten, then we will return True, otherwise, we will return False.

In [11]:
def sum_not_equal_to_10(num1,num2):
  if((num1+num2)!=10):
    return True
  else:
    return False

sum_not_equal_to_10(7,6)

True